# Copyright (c) Markus Falb <markus.falb@mafalb.at>
# GNU General Public License v3.0+
# see LICENSE or https://www.gnu.org/licenses/gpl-3.0.txt

tests/integration/inventory
tests/output/
__pycache__/
*.pyc
/.cache/
pytest
logs/
