# Ansible Collection - {{ namespace }}.{{ collection_name }}

|||
|---|---|
|master|![master branch](https://github.com/{{ namespace }}/ansible-collection-{{ collection_name }}/workflows/CI/badge.svg?branch=master)|
|dev|![dev branch](https://github.com/{{ namespace }}/ansible-collection-{{ collection_name }}/workflows/CI/badge.svg?branch=dev)|

A collection for {{ collection_name }} related things.

## Roles

### [{{ namespace }}.{{ collection_name }}.{{ collection_name }}](roles/{{ collection_name }}/README.md)

## License

GPLv3

