# {{ ansible_managed }}
{% if __virtualenv_ansible_version is version('2.10','<') %}
voluptuous >= 0.11.0, < 0.13 ; python_version == '2.7'
{% endif %}
{% if __virtualenv_ansible_version is version('2.10','<') %}
jinja2<3.1
{% endif %}
cryptography<3.1 ; python_version == '3.5'
cryptography{{ virtualenv_cryptography_specifier[virtualenv_default_openssl_version] }}

# ansible-lint 6 is pulling in ansible-core and this is conflicting
# with ansible 2.9 and ansible 2.10
{% if __virtualenv_ansible_version is version('2.11','<') %}
ansible-lint <6
{% endif %}

# https://github.com/ansible/ansible-lint/issues/3408
{% if __virtualenv_ansible_version is version('2.12','=') %}
ansible-compat<4 ; python_version == '3.9'
{% endif %}

