# {{ ansible_managed }}
pip{{ virtualenv_implicit_packages.pip }}
setuptools{{ virtualenv_implicit_packages.setuptools }}

{% if __virtualenv_ansible_version is version('2.13', '<') %}
{% if __virtualenv_ansible_version is version('2.12.0', '>=') %}
# older Pyyaml breaks with cython 3
# https://github.com/yaml/pyyaml/issues/724 
cython<3.0.0 ; python_version == '3.10'
{% endif %}
{% endif %}
