# vim: set ft=yaml ts=2 expandtab:
---

namespace: {{ galaxy_namespace }}
name: {{ collection_name }}
version: 0.0.1
readme: README.md

authors: []

description: Ansible collection {{ collection }}

license:
- GPL-3.0-or-later

tags:
- {{ collection_name }}

dependencies: {}

repository: https://github.com/{{ galaxy_namespace }}/ansible-collection-{{ collection_name }}
documentation: https://github.com/{{ galaxy_namespace }}/ansible-collection-{{ collection_name }}
homepage: https://github.com/{{ galaxy_namespace }}/ansible-collection-{{ collection_name }}
issues: https://github.com/{{ galaxy_namespace }}/ansible-collection-{{ collection_name }}/issues

...
