# vim: set ft=yaml ts=2 expandtab:
---

galaxy_info:
  author: {{ author }}
  description: Ansible role {{ role_name }}
  license: {{ license }}
  min_ansible_version: {{ min_ansible_version }}

  # https://galaxy.ansible.com/api/v1/platforms/
  #
  platforms:
  - name: EL
    versions:
    - 7
    - 8
  - name: Fedora
    versions:
    - 30
    - 31
  - name: Ubuntu
    versions:
    - xenial
    - bionic

  galaxy_tags:
  - {{ role_name }}

dependencies: []

...
