{% if collection is defined %}
# Ansible Role - {{ collection|default(namespace) + '.' + role_name }}
{% else %}
# Ansible Role - {{ role_name }}

|---|---|
|master|![master branch](https://github.com/{{ namespace|default(collection.split('.')[0]) }}/ansible-role-{{ role_name }}/workflows/CI/badge.svg?branch=master)|
|dev|![dev branch](https://github.com/{{ namespace|default(collection.split('.')[0]) }}/ansible-role-{{ role_name }}/workflows/CI/badge.svg?branch=dev)|
{% endif %}

Ansible role {{ collection|default(namespace) }}. {{ role_name }}

## Basic Usage

```yaml
- name: install {{ collection|default(namespace) }}.{{ role_name }}
  hosts: localhost
  roles:
  - role: {{ collection|default(namespace) }}.{{ role_name }}
```

## Variables

## License

GPLv3

