# Ansible Role {{ role }}
{% if role.split('.')|length == 2 %}

|---|---|
|master|![master branch](https://github.com/{{ galaxy_namespace }}/ansible-role-{{ role_name }}/workflows/CI/badge.svg?branch=master)|
|dev|![dev branch](https://github.com/{{ galaxy_namespace }}/ansible-role-{{ role_name }}/workflows/CI/badge.svg?branch=dev)|
{% endif %}

Ansible role {{ role }}

## Basic Usage

```yaml
- name: install {{ role }}
  hosts: localhost
  roles:
  - role: {{ role }}
```

## Variables

## License

GPLv3

