# vim: set ft=yaml ts=2 expandtab:
---

name: CI

on: 
  push:
  pull_request:  
  schedule:
  - cron: '40 12 * * 6'

jobs:

  CI:

    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false

      matrix:

        target:
        - centos6
        - centos7
        - centos8
        - ubuntu-16.04
        - ubuntu-18.04
        - ubuntu-20.04
        - fedora30
        - fedora31

        os:
        - ubuntu-18.04

        ansible_version:
        - 2.9
        - 2.8

        include:

        - target: centos6
          distribution: centos
          version: 6

        - target: centos7
          distribution: centos
          version: 7

        - target: centos8
          distribution: centos
          version: 8

        - target: ubuntu-16.04
          distribution: ubuntu
          version: xenial

        - target: ubuntu-18.04
          distribution: ubuntu
          version: bionic

        - target: ubuntu-20.04
          distribution: ubuntu
          version: focal

        - target: fedora30
          distribution: fedora
          version: 30

        - target: fedora31
          distribution: fedora
          version: 31

    env:
      ANSIBLE_VERSION: ${{ matrix.ansible_version }}
      CI_CONTAINER_IMAGE: ${{ matrix.distribution }}
      CI_CONTAINER_TAG: ${{ matrix.version }}

    steps:

      - name: checkout collection ansible
        uses: actions/checkout@v1
        with:
          path: ansible_collections/mafalb/ansible
      
      - name: install molecule
        run: ansible-playbook -D bootstrap.yml -t all,debug -e molecule_ansible_version=${{ matrix.ansible_version }}

      - name: test playbooks
        run: |
          source ~/.virtualenvs/molecule/bin/activate
          tests/collection-init.sh
          tests/role-init.sh

      - name: run molecule tests
        run: |
          source ~/.virtualenvs/molecule/bin/activate 
          PY_COLORS=1 CI_CONTAINER_IMAGE=$CI_CONTAINER_IMAGE CI_CONTAINER_TAG=$CI_CONTAINER_TAG molecule --debug converge

      - name: run molecule tests a second time
        run: |
          source ~/.virtualenvs/molecule/bin/activate 
          PY_COLORS=1 CI_CONTAINER_IMAGE=$CI_CONTAINER_IMAGE CI_CONTAINER_TAG=$CI_CONTAINER_TAG molecule --debug converge

      - name: do not forget to revert to molecule test
        run: true

...
