# vim: set ft=yaml ts=2 expandtab:
---

name: CI

on: 
  push:
  pull_request:  
  schedule:
  - cron: '40 12 * * 6'

jobs:

  CI:

    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false

      matrix:

        target:
        - centos6
        - centos7
        - centos8
        - ubuntu-16.04
        - ubuntu-18.04
        - ubuntu-20.04
        - fedora31
        - fedora32

        os:
        - ubuntu-20.04
        - ubuntu-18.04

        ansible_version:
        - '2.10'

        include:

        - target: centos6
          distribution: centos
          version: 6

        - target: centos7
          distribution: centos
          version: 7

        - target: centos8
          distribution: centos
          version: 8

        - target: ubuntu-16.04
          distribution: ubuntu
          version: xenial

        - target: ubuntu-18.04
          distribution: ubuntu
          version: bionic

        - target: ubuntu-20.04
          distribution: ubuntu
          version: focal

        - target: fedora31
          distribution: fedora
          version: 31

        - target: fedora32
          distribution: fedora
          version: 32

    env:
      ANSIBLE_VERSION: ${{ matrix.ansible_version }}
      CI_CONTAINER_IMAGE: ${{ matrix.distribution }}
      CI_CONTAINER_TAG: ${{ matrix.version }}

    defaults:
      run:
        working-directory: ansible_collections/mafalb/ansible

    steps:

      - name: checkout collection ansible
        uses: actions/checkout@v2
        with:
          path: ansible_collections/mafalb/ansible
      
      - name: install molecule
        run: ansible-playbook -D bootstrap.yml -t all,debug -e molecule_ansible_version=${{ matrix.ansible_version }}
        env:
          ANSIBLE_COLLECTIONS_PATHS: '../../..'

      - name: test playbooks via simple shell scripts
        run: |
          tests/role-init.sh
          tests/collection-init.sh

      - name: run molecule tests
        run: |
          source ~/.virtualenvs/molecule/bin/activate
          CI_CONTAINER_IMAGE=$CI_CONTAINER_IMAGE CI_CONTAINER_TAG=$CI_CONTAINER_TAG molecule test -s playbooks
          PY_COLORS=1 CI_CONTAINER_IMAGE=$CI_CONTAINER_IMAGE CI_CONTAINER_TAG=$CI_CONTAINER_TAG molecule test

...
